<% content_for :title do %>
	<title> The Humm </title>
<% end %> 

<div id="home_body">
	<div id="navbar">
		<ul>
			<li><a href="/home" id="nav">Home</a></li>
			<li><a href="/profile" id="nav">My Profile</a></li>
			<li><a href="/allhumms" id="nav"> All Humms</a></li>
			<li><a href="/users_all" id="nav"> All Chimers</a></li>
			<li><a href="/settings" id="nav">Settings</a></li>
			<li><a href="/signout" id="nav"><span>Sign Out</span></a></li>
		</ul>
	</div>
<div class="container">
		<div class="live_post">
			<p>
				<% @posts.each do |p| %>
				<h1> <a href="/users/<%= p.user.id %>/posts" id="nodec"><%= p.user.username %></a> </h1>
				<p> <%= p.body %> </p> 
				<p> <%= p.created_at%> </p>
				<hr>
					<% end %>


			</p>
		</div>
	</div>

</div>