	<!-- post box -->

	
<div id="home_body">

		<!-- <ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/profile">Profile</a></li>
			<li><a href="/settings">Settings</a></li>
			<li><a href="/signout">Sign Out</a></li>
		</ul>
		 -->
	<div class="textbox">
		<textarea name="comments" cols="75" rows="7">Chime in...
		</textarea><br>
		<input type="submit" value="Submit"/>
	</div>

<!-- this is where the active post would be located -->

		<div class="container">
			<div class="live_post">
				<p>
					<h1>Post #1</h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. 
				</p>
			</div>
		</div>

		<div class="container">
			<div class="live_post">
				<p>
					<h1>Post #2</h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. 
				</p>
			</div>
		</div>

		<div class="container">
			<div class="live_post">
				<p>
					<h1>Post #3</h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
			</div>
		</div>

		<div class="container">
			<div class="live_post">
				<p>
					<h1>Post #4</h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
			</div>
		</div>
		<div class="container">
			<div class="live_post">
				<p>
					<h1>Post #5</h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
			</div>
		</div>

<!-- TEST TEXT FOR HOME PAGE, TO BE FILLED IN -->


<div id="horatio">
	<form id="humming"method="POST" action="/hummery">
	<label for="textbox">Humm!</label> 
	<input type="text" name="textbox"  placeholder="Chime in."><br> 
	<input type="submit">
	</form>
</div>

<div id="posty">
<% @posts.each do |thing| %>
<h1> <%= thing.body %> </h1> 
<!-- pulls the value body of each post, could be something else: post.title or whatever if you had a title  -->
	<% end %>
</div>
<!-- if we want to order the posts by date, look up in the active record documentation -->
