<!-- post box -->

	
<div id="home_body">

		<!-- <ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/profile">Profile</a></li>
			<li><a href="/settings">Settings</a></li>
			<li><a href="/signout">Sign Out</a></li>
		</ul>
		 -->
	<div class="textbox">
		<textarea name="comments" cols="75" rows="7">Chime in...
		</textarea><br>
		<input type="submit" value="Submit"/>
	</div>

<!-- this is where the active post would be located -->

		<div class="container">
			<div class="live_post">
				<p>
					<h1>Post #1</h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. 
				</p>
			</div>
		</div>

		<div class="container">
			<div class="live_post">
				<p>
					<h1>Post #2</h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. 
				</p>
			</div>
		</div>

		<div class="container">
			<div class="live_post">
				<p>
					<h1>Post #3</h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
			</div>
		</div>

		<div class="container">
			<div class="live_post">
				<p>
					<h1>Post #4</h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
			</div>
		</div>
		<div class="container">
			<div class="live_post">
				<p>
					<h1>Post #5</h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
			</div>
		</div>

<!-- TEST TEXT FOR HOME PAGE, TO BE FILLED IN -->


<div id="horatio">
	<form id="humming"method="POST" action="/hummery">

<textarea rows="4" cols="50" name="boxy" class="newhumm" form="humming" placeholder="Chime in!"> </textarea>
<input type="submit">
	</form>
</div>


<a href="/logout"></a>

<button id="logout"type="button"><a href="/logout" id="logoutlink">Logout</a></button>


 <div id="posty">
<% Post.order(created_at: :desc).all.each do |p| %>
<h1> <%= p.user.username %> </h1>
<p> <%= p.body %> </p> 
<p> <%= p.created_at%> </p>
	<% end %>

</div>
<!-- if we want to order the posts by date, look up in the active record documentation -->
=======
</div>  

