TEST TEXT FOR HOME PAGE, TO BE FILLED IN


<div id="horatio">
	<form id="humming"method="POST" action="/hummery">
	<label for="textbox">Humm!</label> 
	<input type="text" name="textbox"  placeholder="Chime in."><br> 
	<input type="submit">
	</form>
</div>

<div id="posty">
<% @posts.each do |thing| %>
<h1> <%= thing.body %> </h1> 
<!-- pulls the value body of each post, could be something else: post.title or whatever if you had a title  -->
	<% end %>
</div>
<!-- if we want to order the posts by date, look up in the active record documentation -->