<html>
<head>
	<%  if content_for?(:title) %>
		<%= yield_content :title %>
	<% else %>
		<title>Humm Along!</title>  
	<% end %>

		<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="css" href="home.css">
</head>
<body>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
</head>
<body>
	 <% if flash[:notice] %>

	     	<h1 class="flash-notice">
	     		<%= flash[:notice] %>
	   	 	</h1>
  	<% end %>
	<% if flash[:alert] %>
			    <h1 class="flash-alert">
			    	<%= flash[:alert] %>
			    </h1>
	<% end %>

<%= yield %>

<script type="text/javascript" src="main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</body>
</html>