<html>
<head>
	<title>  </title>
	<link rel="stylesheet" type="css" href="home.css">
</head>
<body>
<!--  This would be the nav bar	 -->
	<div id="navbar">	
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/profile">Profile</a></li>
			<li><a href="/settings">Settings</a></li>
			<li><a href="/signout">Sign Out</a></li>
		</ul>
	</div>
<!-- 	flash notices, + end in yield form below -->
	<%= yield %>
</body>
</html>