
<div id="mine">
<% @posts.each do |thing| %>
<h1> <%= p.user.username %> </h1>
<p> <%= p.body %> </p> 
<p> <%= p.created_at%> </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
	<% end %>
</div>

<button id="delete_account"type="button"><a href="/delete_account" id="deletelink">Delete My Account</a></button>


<!-- pulls the value body of each post, could be something else: post.title or whatever if you had a title  -->