<% content_for :title do %>
	<title> Humm Profile </title>
<% end %> 

<div id="home_body">
		<div id="navbar">	
		<ul>
			<li><a href="/home" id="nav">Home</a></li>
			<li><a href="/profile" id="nav">My Profile</a></li>
			<li><a href="/allhumms" id="nav"> All Humms</a></li>
			<li><a href="/users_all" id="nav"> All Chimers</a></li>
			<li><a href="/settings" id="nav">Settings</a></li>
			<li><a href="/signout" id="nav"><span>Sign Out</span></a></li>
		</ul>
	</div>		
	
	<div>
		<p id="prof_bio">
		<span id="prof_username"><%= @user.username%></span><br><span id="loves"> loves </span><br><%= @user.profile.bio %> </p>
	</div>

	<div class="container">
		<div class="live_post">
			<p>
				<% @posts.each do |p| %>
				<p> <%= p.body %> </p> 
				<p> <%= p.created_at%> </p>
				<hr>
					<% end %>
			</p>
		</div>
	</div>



	<div id="footer" style="clear:both">
		<h4>Copyright Humm Incorporated 2015</h4>
	</div>
</div>