<% content_for :title do %>
	<title> Your Humm Account Settings </title>
<% end %> 

<div id="home_body">
		<div id="navbar">	
		<ul>
			<li><a href="/home" id="nav">Home</a></li>
			<li><a href="/profile" id="nav">Profile</a></li>
			<li><a href="/allhumms" id="nav"> All Humms</a></li>
			<li><a href="/settings" id="nav">Settings</a></li>
			<li><a href="/signout" id="nav"><span>Sign Out</span></a></li>
		</ul>
		</div>
	<div class="account_form">
		<form id="settings"method="POST" action="/update_my_account">
			New Username:<br><input type="text" name="newusername" size="35">
			<br>
			New Password:<br><input type="text" name="newpassword" size="35">
			<br>
			What gets me humming: <br><input type="text" name="newbio" size="70">
			<br>
			<br><input type="submit" value="submit" size="35">
		</form>

		
		
	</div>
	
	<button id="delete_account"type="button"><a href="/delete_account" id="deletelink">Delete My Account</a></button>
</div>

