
<% content_for :title do %>
	<title> Welcome to Humm! </title>
<% end %> 

<div id="sign_in_body">

<div id="sign_in_page">

<div id="opaque">
	<form id="smiles"method="POST" action="/sign-in">
	<label for="email">Email</label> <br>
	<input size="40" type="text" name="email" placeholder="Enter your email address."><br>
	<label for="password">Password</label> <br>
	<input size="40" type="text" name="password" placeholder="The password is play."><br> 
	<input type="submit">
	</form>
</div>
<button id="new_user"type="button"><a href="#sign_up" id="sam">Create New Account</a></button>
</div>

</div>

<div id="sign_up_section" style="display:none">

	<form id="sign_up" method="POST" action="/sign-up">
			<p id="info"> <span id="large">Humm</span> is your new center for news about your favorite music--coming from the people who know it best: the fans!
			</p>
			<h3 id="now">Sign Up to Chime In</h3>
		<label for="email">Email</label>
		<input type="text" name="email"><br>

		<label for="fname">First Name</label>
		<input type="text" name="fname"><br>
		
		<label for="lname">Last Name</label>
		<input type="text" name="lname"><br>

		<label for="username">Username</label>
		<input type="text" name="username"><br>
		
		<label for="password">Password</label>
		<input type="text" name="password"><br>

		<label for="bio">What do you love about music?</label>
		<input type="text" name="bio"><br>
		<input type="submit">
	</form>
</div>

