<% content_for :title do %>
	<title> All Hummers </title>
<% end %> 

<div id="home_body">
<div id="navbar">	
		<ul>
			<li><a href="/home" id="nav">Home</a></li>
			<li><a href="/profile" id="nav">My Profile</a></li>
			<li><a href="/allhumms" id="nav"> All Humms</a></li>
			<li><a href="/users_all" id="nav"> All Chimers</a></li>
			<li><a href="/settings" id="nav">Settings</a></li>
			<li><a href="/signout" id="nav"><span>Sign Out</span></a></li>
		</ul>
		</div>
<div class="all_users">
		<div class="live_post">
			<% @users.each do |u|  %>
			<h1> <a href="/users/<%= u.id %>/posts" id="nodec"><%= u.username %></a> </h1> <br>
			<% if current_user.followees.where(follows: { followee_id: u.id }).empty? %>
			<button type="button"><a href="users/<%= u.id %>/follow" id="nodec">Follow</a></button>
			<% else %>
			<button type="button"><a href="users/<%= u.id %>/unfollow" id="nodec">Unfollow</a></button>
			<%end%>
			<hr>
			<% end %>	
			</p>
		</div>
	</div>

</div>