<% content_for :title do %>
	<title> All Hummers </title>
<% end %> 

<div id="home_body">
<div id="navbar">	
		<ul>
			<li><a href="/home" id="nav">Home</a></li>
			<li><a href="/profile" id="nav">Profile</a></li>
			<li><a href="/allhumms" id="nav"> All Humms</a></li>
			<li><a href="/settings" id="nav">Settings</a></li>
			<li><a href="/signout" id="nav"><span>Sign Out</span></a></li>
		</ul>
		</div>
<div class="container">
		<div class="live_post">
			<% @users.each do |u|  %>
			<h1>  <%= u.username %> </h1> <br>
			<button type="button"><a href="users/:followee_id/follow">Follow</a></button>
			<button type="button"><a href="users/:followee_id/unfollow">Unfollow</a></button>
			<hr>
				<% end %>

				
			</p>
		</div>
	</div>

<a href="/followers">Who Follows Me</a>
</div>