/*css for home page*/
#home_body{
	background-image: url("images/gramaphone_3.jpg");
	background-size: 100% 100%;
	background-repeat:no-repeat;
	background-attachment: fixed;
	opacity:.9;
	padding:100px;
	text-align: center;
}

.set_tings{
	height: 100vh;
}

.textbox{
	opacity: .3;
/*	text-align: center;*/
}

/*textarea{
	resize:none;
}*/

li{
	display: inline-block;
	text-align: center;
	padding: 10px;
/*	word-spacing: 10px;*/
	text-decoration: none;
}

#nav:link, #nav:visited, #nav:active{
	text-decoration: none;
	color: black;
 }

.container{
	height: 15%;
	width: 600px;
	text-align: justify;
	margin: 10px auto;
	margin-top: 40px;
	/*opacity: .3;*/
	/*border: dashed;;
	border-color: rgba(237,42,42,1);*/
}

.live_post{
	background-color: rgba(49,189,127,.5);
	/*opacity: .5;*/
	color:rgb(0,0,0);
	border-radius: 15px;
	height: auto;
}

.account_form{
	background-color: rgba(49,189,127,.5);
	margin: auto;
	margin-top: 60px;
	width: 500px;
}

.profile_bar{
	border: dashed;
	float: left;
	height: 500px;
	width: 100px;
}


.profile_content{
	border: dashed;
}

.footer{
	border: dashed;
}
/*/*maybeuseless********************************/

#navbar{
/*	opacity: .5;*/

}
#navbar ul{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

#sign_in_body{
	background-color: black;
	width: 100%;
	height: 100%;
}

#sign_in_page{
	background-image: url(BW_Bike.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 800px;
	height: 550px;
	margin: 0 auto;
	border: 5px solid black;
	border-radius: 10px 10px;
	position: relative;
	top: 35px;
}

#opaque{
	background-color: rgba(152,152,152,.2);
	width: 350px;
	height: 250px;
	position: relative;
	top: 150px;
	margin: 0 auto;
	border-radius: 5px;
}

#smiles{
	padding: 10px;
	font-size: 65px;
	color: green;
	text-align: center;
	font-family: 'Slabo 27px', serif;
	font-weight: bold;
}

#new_user{
	position: absolute;
	top: 420px;
	left: 300px;
	background: black;
    border: solid 1px #2A4E77;
    border-radius: 10px;
    color: white;
    font-size: 20px;   
}

 #sam:link, #sam:visited, #sam:active{
	text-decoration: none;
	color: white;
 }

#sign_up{
	background-color: rgba(152,152,152,.2);
	width: 350px;
	height: 250px;
}

#posty{
	background-color: blue;
	color: white;
	border: 1px solid red;
}

#mine{
	background-color: green;
}

